<div [class]="classes" (click)="onClickCard()">

  <div class="vs-compare__meta">
    <div class="vs-compare__cat">{{ item().cat }}</div>
    <div class="vs-compare__subcat">{{ item().subcat }}</div>
  </div>

  <div class="vs-compare__name vs-display">{{ item().label }}</div>
  <div class="vs-compare__sub">{{ item().sub }}</div>

  <div class="vs-compare__value" [class.is-revealed]="showValue">
    @if (showValue) {
      <app-rolling-number [value]="item().value" [prefix]="item().unit === '$' ? '$' : ''" />
    } @else {
      <div class="vs-compare__cta">ELEGIR</div>
    }
  </div>

</div>
